<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>PicFinder</title>
        <style>html { overflow-x: hidden; }</style>

        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
        <link href="/static/css/font-awesome.min.css" rel="stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/static/simplebox/simplebox.js"></script>
        <script type="text/javascript" src="/static/simplebox/simplebox_util.js"></script>
        <link href="/static/simplebox/simplebox.css" rel="stylesheet">
        <script type="text/javascript">
            (function(){
                var boxes=[],els,i,l;
                if(document.querySelectorAll){
                els=document.querySelectorAll('a[rel=simplebox]');
                Box.getStyles('simplebox_css','/static/simplebox/simplebox.css');
                Box.getScripts('simplebox_js','/static/simplebox/simplebox.js',function(){
                simplebox.init();
                for(i=0,l=els.length;i<l;++i)
                simplebox.start(els[i]);
                simplebox.start('a[rel=simplebox]');
                });
                }
            })();
        </script>
        {% block client_autobahn %}{% endblock %}
    </head>

    <body>
        <div class="wrapper">
            <div class="content">
                <div class="navbar navbar-default navbar-fixed-top" style="background-color: #74cfae;">
                    <div class="navbar-header" style="margin-left: 10px;">
                        {% load static %}
                        <a href="/"><img src="/static/logo.png" alt="" style="width: 50px; height: 50px;"></a>
                    </div>
                    <form action="/find/" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input class="button form_style" type="submit" value="Search">
                    </form>
                </div>

                <div class="container">
                    <div class="row centered mt grid">
                        {% block content %}{% endblock %}
                    </div>
                </div>

                <div id="social">
                    <div class="row centered">
                        <div class="col-lg-10 col-lg-offset-1">
                            {% if links %}
                                <p style="width: 100%; height: 30px; background-color: "><h3>Latest searches</h3></p>
                                {% for link in links %}
                                     <a href="/{{ link.split|join:"_" }}/" style="color: #4e4e4e">
                                         <div class="col-md-3">
                                            <h4>{{ link }}</h4>
                                         </div>
                                     </a>
                                {% endfor %}
                            {% else %}
                                <h4>Congratulation! You are the first. </h4>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>

            <div class="footer">
                <div id="f">
                    <div class="container">
                        <div class="row">
                            {% if user.is_superuser %}
                                <p>WE <a href="/admin/"><span style="font-size:130%;">&#10084;</span></a> YOU</p>
                            {% else %}
                                <p>WE <span style="font-size:130%; color:red;">&#10084;</span>YOU</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
