<!DOCTYPE html>
<html lang="en" ng-app="finderApp">

<head>
    <meta charset="UTF-8">
    <title>Finder</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <script src="/static/js/bower_components/angular/angular.min.js"></script>
    <script src="/static/js/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/static/js/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/static/js/app.module.js"></script>
    <script src="/static/js/app.config.js"></script>
    <script src="/static/js/MakeQueryController.js"></script>
    <script src="/static/js/links-list/links-list.component.js"></script>
    <script src="/static/js/link-detail/filter.js"></script>
    <script src="/static/js/link-detail/link-detail.component.js"></script>
    <script src="/static/js/services/services.module.js"></script>
    <script src="/static/js/services/LinkService/DataService.js"></script>
    <script src="/static/js/clientPart.js"></script>

</head>


<body>
{% if user.username %}
   {% verbatim %}
   <div class="wrapper">
     <div class="content" ng-controller="MakeQueryCtrl">
       <div class="navbar navbar-default navbar-fixed-top" style="background-color: #74cfae;">
         <div class="navbar-header" style="margin-left: 10px;">
           <a href="/"><img src="/static/logo.png" alt="" style="width: 50px; height: 50px;"></a>
         </div>

           <input class="form_style ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" id="query" name="query" ng-model="query" pattern="^[А-Яа-яA-Za-z0-9\s]+$" placeholder="write here" style="margin-left: 5px; width: 400px;" type="search" required>
           <button class="button form_style" ng-click="mayBeNewQuery()">Search</button>
           {% endverbatim %}
              <a href="{% url 'logout' %}" style="float: right;"><h4>Log Out ({{ user.username }})</h4></a>
           {% verbatim %}

           <div ng-if="checked">
             <div class="container">
               <div class="row centered mt grid">
                 <h4 class="respan">In process ....</h4>
                 <div id="super_wraper">
                   <span id="lamp1"><span class="create"></span></span>
                   <span id="lamp2"><span class="create"></span></span>
                   <span id="lamp3"><span class="create"></span></span>
                 </div>
               </div>
             </div>
           </div>
         </div>

       <div ng-view></div>

       <div class="footer">
         <div id="f">
           <div class="container">
             <div class="row">
               <p>Booka Booka</p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   {% endverbatim %}
{% else %}

   <div class="login">
     {% if login_error %}
       <label class="errors">{{ login_error }}</label>
     {% endif %}
     <form action="{% url 'login' %}" method="post">
       {% csrf_token %}
       <h4 style="font-weight: 500;">Login :</h4>
       <input class="form_style" type="text" name="username" id="username"></label>
       <label for="password">Password
       <input class="form_style" type="password" name="password" id="password"></label>
       <input class="form_style" style="width: 50%;" type="submit" value="Log in">
     </form>
     <form action="{% url 'register' %}">
       <button class="form_style" style="width: 50%;" type="submit">Register</button>
     </form>
    </div>
{% endif %}
</body>

</html>